body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.banner-area {
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 100px;
    margin-bottom: 130px;
}

.banner-area h1 {
    text-align: center;
    color: aliceblue;
    font-size: 60px;
}

.banner-area p {
    text-align: center;
    color: aliceblue;
    font-size: 20px;
}

#first-button-set {
    text-align: center;
}

#donate-now {
    font-size: 25px;
    padding: 20px;
    border-radius: 15px;
    margin: 0;
    /*gap between buttons*/
    color: aliceblue;
    background-color: rgb(235, 70, 55);
}

.donate-today-banner {
    margin-bottom: 130px;
}

.donate-today-banner h1 {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: rgb(2, 3, 3);
}

.donate-today-banner p {
    font-size: 20px;
    text-align: center;
    color: rgb(128, 128, 128);
    padding-bottom: 50px;
}

.some-amount {
    display: flex;
    margin-left: 18%;
    margin-right: 20%;
    padding-bottom: 70px;
}

.amount-box {
    width: 40%;
    /*margin-left: 20px;*/
    margin-right: 20px;
    padding: 50px;
    background-color: rgba(59, 56, 56, 0.062);
    border-radius: 10px;
    color: gray;
    font-size: 25px;
    font-weight: 900;
}


#for200 {
    border: 2px solid tomato;
    background-color: rgba(255, 38, 0, 0.319);
    color: rgb(255, 115, 115);
}

#number {
    width: 60%;
    padding: 10px;
    margin-left: 290px;
    margin-bottom: 50px;
}

#donate-now2 {
    font-size: 25px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    color: aliceblue;
    background-color: rgb(235, 70, 55);
}

.donation-plan {
    margin-bottom: 130px;
}

.donation-plan h1 {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: rgb(2, 3, 3);
}

.donation-plan p {
    font-size: 20px;
    text-align: center;
    color: rgb(128, 128, 128);
    padding-bottom: 50px;
}

.three-section {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 70px;
}

.each-section {
    width: 40%;
    margin-right: 20px;
    padding-top: 25px;
    padding-left: 10px;
    background-color: rgba(59, 56, 56, 0.062);
    color: rgb(24, 22, 22);
    font-size: 20px;
    font-weight: 900;
    border-radius: 5px;
}

.each-section p {
    font-size: 15px;
    text-align: left;
    color: gray;
}

#food-section {
    background-color: rgba(87, 194, 194, 0.189);
}

#shelter-section {
    background-color: rgba(255, 182, 193, 0.189);
}

#education-section {
    background-color: rgba(236, 185, 118, 0.205);
}

.child-education {
    background-image: url(images/g1.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 100px;
    margin-bottom: 130px;
}

.child-section {
    display: flex;
    margin-left: 8%;
    margin-right: 10%;
    padding-bottom: 100px;
}

.child-fund {
    width: 40%;
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 30px;
    color: rgb(29, 24, 24);
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 900;
    border-radius: 5px;
}

.child-fund p {
    color: rgba(22, 21, 21, 0.653);
    font-size: 15px;
    padding-bottom: 20px;
}

#child-button-set {
    text-align: right;
    padding-right: 20px;
    padding-top: 20px;
}

#child-donate {
    font-size: 25px;
    padding: 20px;
    border-radius: 15px;
    border: none;
    color: aliceblue;
    background-color: rgb(235, 70, 55);
}

/*
.
.
.
*/

footer {
    position: absolute;
    bottom: auto;
    left: 0%;
    right: 0;
    background-color: black;
    margin: 0%;
    padding: 0;
    height: fit-content;
}

footer p {
    text-align: center;
    color: gray;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer span {
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    text-align: center;
    color: rgb(188, 31, 31);
    font-size: 40px;
}